*{
  box-sizing: border-box;
}

body {
  	font-family: fantasy;
    font: prince valiant;
  	line-height: 1.3;
  /*  background-image: url("images/wildewoodes2.jpg");*/
    background-size: 105% 120%;
    background-attachment: fixed;
}


a{
  text-decoration: none;
}

section {
  width:80%;
  padding-left: 20px;
}

.redbanner {
  margin-left: 10px;
}

.nationsite{
  background-color: #d50000;
  color: black;
  font-size: 15px;
  padding: 5px;
  display:inline-block;
  border-radius: 5px;
}

.nationsite a:hover{
font-size: 16px;

}

.navigation{
  display: inline-block;
  align-self: center;
  list-style: none;
  line-height: 3;
  background-color: white;
  }

.navigation li{
  display: inline-block;
  padding: 10px;
  margin: 0 10px;
  font-size: 20px;
}

.navigation a{
  color: black;
}

.navigation a:hover{
  color: blue;
}

.imgtext{
  background: #d50000;
  color: white;
  width: 100%;
  text-align: left;
  padding 10px;
  /*margin: 40px 40px;*/
}


.joinus{
  text-align: center;
}
.joinus a{
  color: white;
}

.joinus a:hover{
  color: blue;
}

.start-of-line {
  float: right;
}

.start-of-line img{
  width: 95px;
}
.mainsection{
  display:inline-block;
}
